POSTGRES_USER=trace
POSTGRES_PASSWORD=trace123
POSTGRES_DB=trace_db

GRPC_PORT=4317
HTTP_PORT=8080

RETENTION_DAYS=7
ORPHAN_TIMEOUT_SECONDS=30
TRACE_COMPLETE_TIMEOUT_SECONDS=30
MAX_SPANS_PER_TRACE=500
MAX_BATCH_SIZE=1000

SAMPLING_TYPE=head
SAMPLING_HEAD_SAMPLE_RATE=1.0
SAMPLING_TAIL_SAMPLE_RATE=0.1
